In [1]:
import sklearn as skl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn import preprocessing
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv('titanic_dataset.csv')
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.describe()

'''
Resultados estatísticos apenas se aplicam a dados numéricos.
'''

In [87]:
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
Fare_Binned    False
Age_Binned     False
dtype: bool

In [ ]:
print(df.isna().sum())

In [ ]:
print(df.Parch.unique())
print(df.Parch.unique().size)

In [ ]:
df.groupby(by=['Survived']).mean()

In [ ]:
df.groupby(by=['Survived','Pclass']).mean()

In [ ]:
sns.histplot(df['Age'],kde=True);
print("Skewness: %f" % df['Age'].skew())

In [ ]:
ax = sns.boxplot(x=df["Survived"],y=df["Age"])

In [ ]:
corr_matrix=df.corr()
f, ax = plt.subplots(figsize=(8, 6))
sns.heatmap(corr_matrix,vmin=-1,vmax=1,square=True,annot=True);

In [90]:
'''
Faz-se cópia par evitar modificar o ficheiro carregado
'''
df_prepared = df.copy()

In [98]:
'''
df_prepared['Age'].fillna(method='bfill')

df_prepared.dropna(axis=0,how='any')
'''
df_prepared['Age'].interpolate(method='linear',limit_direction='forward')

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    22.5
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [96]:
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
Fare_Binned    False
Age_Binned     False
dtype: bool

In [100]:
est = preprocessing.KBinsDiscretizer(n_bins=5,encode='ordinal',strategy='quantile')
df['Fare_Binned'] = est.fit_transform(df[['Fare']])
df.groupby(by=['Fare_Binned']).count()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_Binned
Fare_Binned,,,,,,,,,,,,,
0.0,166,166,166,166,166,104,166,166,166,166,8,166,166
1.0,173,173,173,173,173,135,173,173,173,173,3,173,173
2.0,195,195,195,195,195,171,195,195,195,195,15,195,195
3.0,175,175,175,175,175,146,175,175,175,175,53,175,175
4.0,182,182,182,182,182,158,182,182,182,182,125,180,182

In [3]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object